

<section class="my-5">
    <div class="py-5">
      <h2 class="text-center">Our Best Offers</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-6">
          <img src="assets/Images/offer1.jpg" class="img-fluid pb-4">
        </div>
        <div class="col-lg-4 col-md-4 col-6">
          <img src="assets/Images/offer2.jpg" class="img-fluid pb-4">
        </div>
        <div class="col-lg-4 col-md-4 col-6">
          <img src="assets/Images/offer3.jpg" class="img-fluid pb-4">
        </div>
        <div class="col-lg-4 col-md-4 col-6">
          <img src="assets/Images/offer4.jpg" class="img-fluid pb-4">
        </div>
        <div class="col-lg-4 col-md-4 col-6">
          <img src="assets/Images/offer6.png" class="img-fluid pb-4">
        </div>
        <div class="col-lg-4 col-md-4 col-6">
          <img src="assets/Images/offer5.jpg" class="img-fluid pb-4">
        </div>
      </div>
    </div>
    
  </section>